@import '~@angular/material/theming';

@include mat-core();
$app-primary: mat-palette($mat-amber, 800);
$app-accent:  mat-palette($mat-amber, 900);
$app-theme:   mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);



// если кто найдет лучший способ изменить цвет кнопки скажете (:
.mat-raised-button{
  &.mat-primary,
  &.mat-accent{
    color: white;
  }
}


// stupid feature from evg
button:focus {
  outline: none !important;
}
.cdk-focused, .cdk-keyboard-focused{
  .mat-button-focus-overlay {
    background: none !important;
  }
}
.overflow-hidden {
  overflow: hidden;
}
// rewrite def style ///////////////////////////////////////////////////////////////////////////////////////////////////
.b2b-mat{
  &-label{
    &-a{
      .mat{
        &-checkbox-layout, &-radio-label{
          margin: 0;
        }

        &-radio-button {
          height: 27px;
        }
      }
    }
  }

  &-btn{
    &-a{
      padding: 0 !important;
      min-width: 30px !important;
      height: 36px !important;
    }

    &-b{
      display: inline-flex;
      font-size: 1.125rem;
      font-weight: 200;
      height: 3.125rem;
      border-radius: 0;
      .material-icons, .fa {
        font-size: 1.625rem;
        margin: 0 .25rem;
      }
    }

    &-c{
      &-icon{
        display: block !important;
        padding: 5px 0 10px;
      }
    }

    &-d{
      border-radius: 6px;
      background-image: linear-gradient(to bottom, #ee7f0e, #eb7f13 49%, #fd9d3e);
      box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
      line-height: 50px;
      color: #ffffff !important;
      font-size: 16px;
      font-weight: 400;

      &[disabled] {
        background-image: linear-gradient(to bottom, #f6f6f6, #e0e0e0 49%, #fdfdfd);
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
        border: solid 1px #979797;
        color: #767676;
      }

      i {
        font-size: 1.5rem;

        &.bb-net {
          font-size: 1.25rem;
        }
      }
    }
  }

  &-pagination{
    background: none;
    .mat-paginator{
      &-container {
        justify-content: center;

        .mat-icon-button{
          background: #ff8f00;
          color: #ffffff;

          &[disabled]{
            background: rgba(0, 0, 0, 0.3);
          }

          .mat-paginator-increment,
          .mat-paginator-decrement{
            border-color: white;
          }
        }
      }

      &-page-size{
        display: none;
        &-label{
          display: none;
        }
        &-select{
          display: none;
        }
      }

      &-navigation-previous{
        order: 0;
      }
      &-range-label{
        order: 1;
      }
      &-navigation-next{
        order: 2;
      }
    }

  }

  &-menu{
    &-a{
      max-width: initial !important;

      .mat-menu{
        &-content{
          padding: 0;
        }
        &-item{
          border: 1px solid rgba(0, 0, 0, 0.04);
        }
      }

    }

    &-b{
      &-btn{
        border: 1px solid #ff6f00 !important;
        border-radius: 0 !important;
        text-transform: uppercase;
      }

      &-list{
        .mat-menu{
          &-content{
            padding: 0;
          }

          &-item{
            line-height: 36px;
            height: 36px;

            &:hover{
              background: #ff6f00;
              color: #fff;
            }
          }
        }
      }
    }

    &-с{
      &-list{
        &.mat-menu-panel{
          min-width: 112px;
          max-width: 320px !important;
        }

        .mat-menu{
          &-content{
            padding: 0;
          }

          &-item{
            line-height: 36px;
            height: 36px;
            border: 1px solid #ff6f00 !important;
            border-radius: 0 !important;
            text-transform: uppercase;

            &:hover:not([disabled]){
              background: #ff6f00;
              color: #fff;
            }
          }
        }
      }
    }
  }

  &-select{
    &-a{
      width: auto !important;

      .mat-form-field-underline{
        opacity: 0;
      }
    }


    &-b{
      .mat-select-arrow{
        border: none;
      }
    }
  }
}
[isdisabled="true"] {
  pointer-events: none;
  opacity: .5;
  /deep/{
    mat-form-field{
      opacity: .5;
      pointer-events: none;
    }
  }
}

[iseditable="false"]{
  pointer-events: none;
  .mat{
    &-input{
      &-element{
        color: inherit;
        //font-weight: bold;
        pointer-events: none;
      }

      &-placeholder{
        opacity: 0;
      }
    }



    &-form-field-underline {
      opacity: 0;
      background-image: none;
    }


    &-select{
      &-value{
        color: inherit;
        //font-weight: bold;
        pointer-events: none;
      }

      &-arrow-wrapper{
        opacity: 0;
      }
    }
  }
}


.cdk-overlay-pane {
  max-width: 92vw !important;
}


@media screen and (max-width: 992px) {
  .b2b-mat-menu-a{
    max-width: calc(100% - 120px) !important;
  }
}
