.res, .video-wrapper{
  position: relative;
  max-width: 480px;
  max-height: 270px;
  height: 195px;;
  cursor: pointer;
  img {
    width: 100%;
    height: 195px;
    object-fit: cover;
  }
  .spinner-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  youtube-player {
    width: 100%;
    height: 195px;
    display: block;
    ::ng-deep iframe {
      width: 100%;
      height: 100%
    }
}
  .title {
    position: absolute;
    bottom: 10px;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0.51);
    color: #fff;
    text-align: center;
    width: 90%;
    left: 50%;
    font-size: 14px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.distance {
  margin: 0 auto 40px auto;
}
