<div class="container" *ngIf="data.length > 0">
  <div class="row">
    <div class="col-4 distance" *ngFor="let item of data; let i = index">
      <div class="res" *ngIf="!item.isPlay" (click)="playYTVideo(i)">
        <img [src]="item.thumbnail_url" alt="">
        <p class="title">{{item.title}}</p>
      </div>
      <div class="video-wrapper" *ngIf="item.isPlay">
        <div class="spinner-wrapper">
          <mat-spinner></mat-spinner>
        </div>
        <youtube-player
          [videoId]="keys[i]"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
        ></youtube-player>
      </div>
    </div>
  </div>
</div>
